- var projectPath = "images/"
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=projectPath+"favicon.png")
        title ДТП
        link(rel="stylesheet" href="style.css")
    body
        .mgtniip_control_box.accidents
            header
                img(src=projectPath+"icon_crash.svg" alt="Дорожно-транспортные происшествия")
                h2 ДТП
                .quantity
                    span#accidents__selected.quantity_selected 0
                    | &nbsp;/&nbsp;
                    span#accidents__all.quantity_all 0
            main
                section.quick_display
                    .options
                        input#accidents_show_all.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_show_all") Показать всё
                    .options
                        input#accidents_clear_all.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_clear_all") Скрыть всё
                section.accidents_time_options
                    input#accidents_year(type="number")
                    input#accidents_at_day.mgtniip_option_button(type="button" value="День")
                    input#accidents_at_night.mgtniip_option_button(type="button" value="Ночь")
                    input#accidents_in_summer.mgtniip_option_button(type="button" value="Лето")
                    input#accidents_in_winter.mgtniip_option_button(type="button" value="Зима")
                section.accidents_zones_options
                    .options
                        input#accidents_near_crosswalk.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_near_crosswalk")
                            | У пеш. перехода
                            span#accidents_near_crosswalk__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#accidents_near_crosswalk__percentage.options_percentage 0%
                    .options
                        input#accidents_near_social_objects.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_near_social_objects")
                            | У соц. объекта
                            span#accidents_near_social_objects__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#accidents_near_social_objects__percentage.options_percentage 0%
                    .options
                        input#show_typical_places.mgtniip_switch_button(type="checkbox")
                        label(for="show_typical_places")
                            | Типовые участки
                            span#show_typical_places__number.options_number 0
                    .options
                        input#show_accidents_types.mgtniip_switch_button(type="checkbox")
                        label(for="show_accidents_types")
                            | По типам...
                            span#show_accidents_types__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#show_accidents_types__percentage.options_percentage 0%
                section#accidents_types
                    .accidents_types
                        input#id1.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id1")
                            span.accidents_type_numbers 0
                            span.accidents_type_names(title="Мурлыкали миленькие кошечки") Мурлыкали миленькие кошечки
                    .accidents_types
                        input#id2.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id2")
                            span.accidents_type_numbers 00
                            span.accidents_type_names(title="Лаяли дикие собачки") Лаяли дикие собачки
                    .accidents_types
                        input#id3.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id3")
                            span.accidents_type_numbers 0000
                            span.accidents_type_names(title="Бегали беременные бегемотики") Бегали беременные бегемотики
        .mgtniip_control_box.injured
            header
                img(src=projectPath + "icon_family.svg" alt="Количество пострадавших при ДТП")
                h2 Пострадавшие
                .quantity
                    span#injured_selected.quantity_selected 0
                    span &nbsp;/&nbsp;
                    span#injured_all.quantity_all 0
            main
                section.adults
                    .injured_row
                        input#adults.mgtniip_simple_checkbox(type="checkbox")
                        label(for="adults")
                            span#adults_injured__number.injured_number 0
                            strong Взрослых
                    .injured_row
                        strong#adults_dead__percentaje.injured_percentage 0%
                        span из них погибло
                section.kids
                    .injured_row
                        input#kids.mgtniip_simple_checkbox(type="checkbox")
                        label(for="kids")
                            span#kids_injured__number.injured_number 0
                            strong Детей
                    .injured_row
                        strong#kids_dead__percentaje.injured_percantage 0%
                        span из них погибло
                    .injured_row
                        strong#kids_injured_near_crosswalk__percentaje.injured_percantage 0%
                        span пострадало у пеш. перехода
                    .injured_row
                        strong#kids_injured_near_social_objects__percentaje.injured_percantage 0%
                        span пострадало у соц. объекта
        .mgtniip_aside_box
            .aside_row
                input#divisions.mgtniip_simple_checkbox(type="checkbox")
                label(for="divisions") Административные округа
            .aside_row
                input#clasters_map.mgtniip_simple_checkbox(type="checkbox")
                label(for="clasters_map") Кластеризация
            .aside_row
                input#heat_map.mgtniip_simple_checkbox(type="checkbox")
                label(for="heat_map") Тепловая карта
            .aside_row
                input#traffic_lights.mgtniip_simple_checkbox(type="checkbox")
                label(for="traffic_lights") Показать все светофоры
            .aside_row
                input#social_objects.mgtniip_simple_checkbox(type="checkbox")
                label(for="social_objects") Показать все социальные объекты
            .aside_row
                input#accidents_near_tl_and_so.mgtniip_simple_checkbox(type="checkbox")
                label(for="accidents_near_tl_and_so") Социальные объекты и пешеходные переходы в зоне ДТП
        script(src="mgtniip_styles/mgtniip_styles.js")
        script(src="index.js")