mgtniip_images_path = "images/"
@import "mgtniip_styles/_variables.styl"
@import "mgtniip_styles/_mixins.styl"
@import "mgtniip_styles/_mgtniip_classes.styl"

body
  width 100vw
  height 100vh
  overflow hidden
  font 14px SegoeUI, sans-serif
  background forestgreen

.mgtniip_control_box
  margin 10px
  width 278px
  header
    padding 0 13px
    img
      padding-right 13px
    h2
      width calc(100% - 145px)
    .quantity
      width 77px
      padding-left 13px
      text-align right
      font 16px SegoeUIsemibold, sans-serif
      color mgtniip_grey_e
  main
    .options
      position relative
      padding 6px 22px
.mgtniip_aside_box
  margin 10px