@font-face {
  font-family: SegoeUIlight;
  src: url("fonts/SegoeUI/SegoeUI100.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI100.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI100.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIsemilight;
  src: url("fonts/SegoeUI/SegoeUI200.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI200.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI200.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUInormal;
  src: url("fonts/SegoeUI/SegoeUI400.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI400.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI400.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIsemibold;
  src: url("fonts/SegoeUI/SegoeUI600.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI600.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI600.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIbold;
  src: url("fonts/SegoeUI/SegoeUI700.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI700.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.mgtniip_switch_button {
  display: none;
}
.mgtniip_switch_button+label {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  padding-left: 39px;
  font: 14px SegoeUI, sans-serif;
  color: #263045;
  cursor: pointer;
}
.mgtniip_switch_button+label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.6px 0.8px 0 0 #263045;
  background: #fff;
}
.mgtniip_switch_button+label:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #263045;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.9px 1.8px 4px 0 #263045;
}
.mgtniip_switch_button:checked+label:before {
  background: #263045;
}
.mgtniip_switch_button:checked+label:after {
  left: 16px;
}
.mgtniip_switch_button:disabled+label:before {
  background: #b6bfc5;
}
.mgtniip_switch_button:disabled+label:after {
  background: #b6bfc5;
  border-color: transparent;
}
.switch_btn:disabled + label:before {
  background: #f3f3f3;
}
.switch_btn:disabled + label:after {
  background: #f3f3f3;
  border-color: #fff;
}
.mgtniip_simple_checkbox {
  display: none;
}
.mgtniip_simple_checkbox+label {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 23px;
  cursor: pointer;
  height: 19px;
  font: 14px SegoeUI, sans-serif;
  color: #263045;
}
.mgtniip_simple_checkbox+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 0 0 #263045;
}
.mgtniip_simple_checkbox:checked+label:before {
  background: #fff url("images/checked.svg") no-repeat center;
  background-size: 14px;
}
.mgtniip_simple_checkbox:disabled+label:before {
  background: #b6bfc5;
}
.mgtniip_option_button {
  width: 78px;
  height: 28px;
  background: #f3f3f3;
  border-left: 0 solid #fbfbfb;
  border-top: 0 solid #fbfbfb;
  border-right: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  box-shadow: 1.4px 1.4px 2px 0 #263045, inset 2px 2px 0 0 #fbfbfb;
  color: #263045;
  font: 600 14px SegoeUIsemibold, sans-serif;
}
.mgtniip_option_button.pressed {
  color: #fff;
  background: #263045;
  border-left: 2px solid #282f3c;
  border-top: 2px solid #282f3c;
  border-right: 2px solid #79818f;
  border-bottom: 2px solid #79818f;
  box-shadow: none;
}
.scrollbar {
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
}
.content {
  min-height: 650px;
}
.mgtniip_scroll_bar::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 1px solid #dadada;
  background: #fff;
}
.mgtniip_scroll_bar::-webkit-scrollbar {
  width: 6.5px;
  border: 1px solid #dadada;
  background: #fff;
}
.mgtniip_scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 6.5px;
  border: 1px solid #95a6b1;
  background: #b6bfc5;
}
.mgtniip_control_box {
  position: relative;
  width: max-content;
}
.mgtniip_control_box header {
  position: relative;
  z-index: 500;
  height: 51px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #e2e3e5;
  background: linear-gradient(0deg, #e2e3e5 0%, #f3f3f3 50%, #e2e3e5 100%);
  border: 1px solid #b6bfc5;
  box-shadow: 0 1px 0 0 #263045, inset 0 1px 0 0 #263045;
  border-radius: 12px 12px 0 0;
}
.mgtniip_control_box header img {
  width: 26px;
}
.mgtniip_control_box header h2 {
  font: 16px SegoeUIsemibold, sans-serif;
  color: #263045;
}
.mgtniip_control_box main {
  position: relative;
  top: -1px;
  z-index: 450;
  height: max-content;
  padding: 5px;
  border: 1px solid #b6bfc5;
  background: #f3f3f3;
  border-radius: 0 0 12px 12px;
}
.mgtniip_aside_box {
  height: max-content;
  width: max-content;
  padding: 5px;
  border: 1px solid #b6bfc5;
  background: #f3f3f3;
  border-radius: 12px;
  position: fixed;
  right: 0;
  top: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font: 14px SegoeUI, sans-serif;
  background: #228b22;
}
.mgtniip_control_box {
  margin: 10px;
  width: 278px;
}
.mgtniip_control_box header {
  padding: 0 13px;
}
.mgtniip_control_box header img {
  padding-right: 13px;
}
.mgtniip_control_box header h2 {
  width: calc(100% - 145px);
}
.mgtniip_control_box header .quantity {
  width: 77px;
  padding-left: 13px;
  text-align: right;
  font: 16px SegoeUIsemibold, sans-serif;
  color: #b6bfc5;
}
.mgtniip_control_box main .options {
  position: relative;
  padding: 6px 22px;
}
.mgtniip_aside_box {
  margin: 10px;
}
