doctype html
html
    head
        link(rel="stylesheet" href="style.css")

    body
        div.mgtniip_control_box
            header Header
            main lorem lorem lorem lorem<br>lorem lorem lorem lorem<br>lorem lorem lorem lorem
                div
                    input#simple_checkbox.mgtniip_simple_checkbox(type="checkbox")
                    label(for="simple_checkbox") Checkbox
                div
                    input#switch_button.mgtniip_switch_button(type="checkbox")
                    label(for="switch_button") Switch button
                div
                    input#button.mgtniip_option_button(type="button" value="Button")
        .mgtniip_aside_box
            .scrollbar.mgtniip_scroll_bar
                .content
        script(src="mgtniip_styles/mgtniip_styles.js")