*
  margin 0
  padding 0
  outline 0

/********** SWITCH_BUTTON **********/
mgtniip_switch_button_width = 34px
.mgtniip_switch_button
  display none
  &+label
    position relative
    top 0
    left 0
    flex(row, flex-start, center)
    height 18px
    padding-left mgtniip_switch_button_width + 5px
    font 14px SegoeUI,  sans-serif
    color mgtniip_main
    cursor pointer
    &:before
      content ""
      position absolute
      top 1px
      left 0
      width 34px
      height 14px
      border-radius 7px
      transition .3s
      box-shadow 0.6px 0.8px 0 0 mgtniip_main
      background mgtniip_white
    &:after
      content ""
      position absolute
      top -1px
      left 0
      width 16px
      height 16px
      background mgtniip_white
      border 1px solid mgtniip_main
      border-radius 7px
      transition .3s
      box-shadow 0.9px 1.8px 4px 0 mgtniip_main
  &:checked+label
    &:before
      background mgtniip_main
    &:after
      left mgtniip_switch_button_width - 18px
  &:disabled+label
    &:before
      background mgtniip_grey_e
    &:after
      background mgtniip_grey_e
      border-color transparent


.switch_btn:disabled + label
  &:before
    background mgtniip_other_light
  &:after
    background #f3f3f3
    border-color #fff
/********** SWITCH_BUTTON **********/

/********** SIMPLE_CHECKBOX **********/
mgtniip_simple_checkbox_width = 18px
.mgtniip_simple_checkbox
  display none
  &+label
    position relative
    top 0
    left 0
    flex(row, flex-start, center)
    padding-left mgtniip_simple_checkbox_width + 5px
    cursor pointer
    height 19px
    font 14px SegoeUI,  sans-serif
    color mgtniip_main
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 18px
      height 18px
      border-radius 4px
      background mgtniip_white
      box-shadow 1px 1px 0 0 mgtniip_main
  &:checked+label
    &:before
      background mgtniip_white url(mgtniip_images_path + "checked.svg") no-repeat center
      background-size 14px
  &:disabled+label
    &:before
      background mgtniip_grey_e
/********** SIMPLE_CHECKBOX **********/

/********** BUTTON **********/
.mgtniip_option_button
  width 78px
  height 28px
  background mgtniip_other_light
  border-2(0, #fbfbfb, 2px, #d8d8d8)
  box-shadow 1.4px 1.4px 2px 0 mgtniip_main, inset 2px 2px 0 0 #fbfbfb
  color mgtniip_main
  font 600 14px SegoeUIsemibold, sans-serif
  &.pressed
    color mgtniip_white
    background mgtniip_main
    border-2(2px, #282f3c, 2px, #79818f)
    box-shadow none
/********** BUTTON **********/

/********** SCROLL BAR **********/
.scrollbar
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
.content
  min-height 650px

.mgtniip_scroll_bar::-webkit-scrollbar-track
  border-radius 3px
  border 1px solid mgtniip_light
  background mgtniip_white

.mgtniip_scroll_bar::-webkit-scrollbar
  width 6.5px
  border 1px solid mgtniip_light
  background mgtniip_white
.mgtniip_scroll_bar::-webkit-scrollbar-thumb
  border-radius 3px
  width 6.5px
  border 1px solid mgtniip_grey_d
  background mgtniip_grey_e

/********** SCROLL BAR **********/

/********** CONTROL BOX **********/
.mgtniip_control_box
  position relative
  width max-content
  header
    position relative
    z-index 500
    height 51px
    padding 0 5px
    flex(row, flex-start, center)
    background #e2e3e5
    background linear-gradient(0deg, #e2e3e5 0%, mgtniip_other_light 50%, #e2e3e5 100%)
    border 1px solid mgtniip_grey_e
    box-shadow 0 1px 0 0 mgtniip_main, inset 0 1px 0 0 mgtniip_main
    border-radius 12px 12px 0 0
    img
      width 26px
    h2
      font 16px SegoeUIsemibold, sans-serif
      color mgtniip_main
  main
    position relative
    top -1px
    z-index 450
    height max-content
    padding 5px
    border 1px solid mgtniip_grey_e
    background mgtniip_other_light
    border-radius 0 0 12px 12px
/********** CONTROL BOX **********/

/********** ASIDE BOX **********/
.mgtniip_aside_box
  height max-content
  width max-content
  padding 5px
  border 1px solid mgtniip_grey_e
  background mgtniip_other_light
  border-radius 12px
  position fixed
  right 0
  top 0
/********** ASIDE BOX **********/