* {
  margin: 0;
  padding: 0;
}
/********** SWITCH_BUTTON **********/
.mgtniip_switch_button {
  visibility: hidden;
}
.mgtniip_switch_button+label {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  padding-left: 19px;
}
.switch_btn + label {
  position: relative;
  padding-left: 51px;
  cursor: pointer;
  line-height: 16px;
  color: mgtniip_main;
}
.switch_btn + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background: mgtniip_white;
  transition: 0.3s;
  box-shadow: 0.6px 0.8px 0 0 rgba(38,48,69,0.04);
}
.switch_btn + label:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid mgtniip_main;
  border-radius: 7px;
  top: 0;
  left: 0;
  transition: 0.3s;
  box-shadow: 0.9px 1.8px 4px 0 rgba(38,48,69,0.17);
}
.switch_btn:checked + label:before {
  background: #263045;
}
.switch_btn:checked + label:after {
  left: 18px;
}
.switch_btn:disabled + label:before {
  background: #f3f3f3;
}
.switch_btn:disabled + label:after {
  background: #f3f3f3;
  border-color: #fff;
}
/********** SWITCH_BUTTON **********/
/********** SIMPLE_CHECKBOX **********/
.mgtniip_simple_checkbox {
  visibility: hidden;
}
.mgtniip_simple_checkbox+label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 23px;
  cursor: pointer;
  height: 19px;
  line-height: 19px;
  font: 14px SegoeUI, sans-serif;
  color: mgtniip_main;
}
.mgtniip_simple_checkbox+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: mgtniip_white;
  box-shadow: 1px 1px 0 0 mgtniip_main;
}
.mgtniip_simple_checkbox:checked + label:before {
  background: mgtniip_white url("mgtniip_images_pathchecked.svg") no-repeat center;
  background-size: 14px;
}
/********** SIMPLE_CHECKBOX **********/
