flex(a,b,c)
  display flex
  flex-direction a
  justify-content b
  align-items c

flex-w(a,b,c,d)
  flex(a,b,c)
  flex-wrap wrap
  align-content d

border-2(a, b, c, d)
  border-left a solid b
  border-top a solid b
  border-right c solid d
  border-bottom c solid d