mgtniip_main = #263045
mgtniip_grey_a = #3e495e
mgtniip_grey_b = #586679
mgtniip_grey_c = #748493
mgtniip_grey_d = #95a6b1
mgtniip_grey_e = #b6bfc5
mgtniip_light = #dadada
mgtniip_red = #e52329

mgtniip_white = #ffffff
mgtniip_other_light = #f3f3f3
mgtniip_other_red = #ec283a

nii_red = #f7696d //красный крестик отмены поиска
nii_blue_text = #2466e2 //синий текст улиц, синий значок i
nii_purple_text = #bb15d9 //пурпурный текст сегментов

@font-face
  font-family SegoeUIlight
  src url("fonts/SegoeUI/SegoeUI100.ttf") format("TrueType")
  src url("fonts/SegoeUI/SegoeUI100.woff") format("woff")
  src url("fonts/SegoeUI/SegoeUI100.woff2") format("woff2")
@font-face
  font-family SegoeUIsemilight
  src url("fonts/SegoeUI/SegoeUI200.ttf") format("TrueType")
  src url("fonts/SegoeUI/SegoeUI200.woff") format("woff")
  src url("fonts/SegoeUI/SegoeUI200.woff2") format("woff2")
@font-face
  font-family SegoeUInormal
  src url("fonts/SegoeUI/SegoeUI400.ttf") format("TrueType")
  src url("fonts/SegoeUI/SegoeUI400.woff") format("woff")
  src url("fonts/SegoeUI/SegoeUI400.woff2") format("woff2")
@font-face
  font-family SegoeUIsemibold
  src url("fonts/SegoeUI/SegoeUI600.ttf") format("TrueType")
  src url("fonts/SegoeUI/SegoeUI600.woff") format("woff")
  src url("fonts/SegoeUI/SegoeUI600.woff2") format("woff2")
@font-face
  font-family SegoeUIbold
  src url("fonts/SegoeUI/SegoeUI700.ttf") format("TrueType")
  src url("fonts/SegoeUI/SegoeUI700.woff") format("woff")
  src url("fonts/SegoeUI/SegoeUI700.woff2") format("woff2")